header{
    display: flex;
    justify-content: space-between;
   
}

.box1{
   font-size: 30px;
   font-family: sans-serif;
   margin-left: 90px;
}
.nav,a{
   text-decoration: none;
   color: black;
   margin-top: 30px;
   margin-right: 50px;
}
a{
   font-family: sans-serif;
   font-weight: 50px;
}

.content{
   background-color: rgb(196, 232, 233);
  
   display: flex;
}
.h3{
    font-family: sans-serif;
    font-weight: 80px;
    font-size: 30px;
}
.box3{
   width: 65%;
   text-align: justify;
   margin-right: 0;
   margin-left: 90px;
}
.img1{
   height: 250px;
   padding: 10px;
   justify-items: center;
}
.gallery{
text-align: center;
margin-bottom: 100px;
}
.box4{
   font-size: 30px;
}
.logo{
display: flex;
justify-content: space-between;
background-color: rgb(196, 232, 233);
}
.c{
   margin-left: 250px;
}
.d{
   margin-right: 250px;
}
.item1{
   margin-right: 20px;
}